<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--<aop:aspectj-autoproxy proxy-target-class="true"/>
	<bean class="com.kaigekeji.zhinengshibie.log4j.ZhiNengShiBie_Log4j" />-->

	<context:annotation-config/>
		<!-- 配置自动扫描的包，完成Bean的创建和自动依赖注入的功能 -->
		<context:component-scan base-package="com"/>
		<!-- 这两个类用来配置annotation类型的处理器映射器和处理器适配器 -->
		<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
		<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
		
		<!-- 设置JSON格式为utf-8 -->
		<mvc:annotation-driven>    <!--开启MVC-->
			<mvc:message-converters register-defaults="true">
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</mvc:message-converters>
		</mvc:annotation-driven>

	<!-- 将springmvc不能处理的请求交给tomcat -->
	<mvc:default-servlet-handler/>

	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器  org.springframework.web.multipart.commons.CommonsMultipartResolver -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="uploadTempDir" value="/"></property>
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />   <!-- 4KB大小读写 -->
	</bean>

</beans>






















